body{
cursor:none;
}

/* Center Dot */

.cursor-dot{

position:fixed;

width:8px;

height:8px;

background:#38bdf8;

border-radius:50%;

pointer-events:none;

transform:translate(-50%,-50%);

z-index:999999;

box-shadow:
0 0 20px #38bdf8;

}

/* Outer Ring */

.cursor-ring{

position:fixed;

width:38px;

height:38px;

border:2px solid #38bdf8;

border-radius:50%;

pointer-events:none;

transform:translate(-50%,-50%);

transition:
width .25s,
height .25s,
border-color .25s,
background .25s;

backdrop-filter:blur(10px);

box-shadow:
0 0 30px rgba(56,189,248,.5);

z-index:999998;

}

/* Hover Effect */

.cursor-hover{

width:70px;

height:70px;

border-color:#8b5cf6;

background:rgba(139,92,246,.15);

box-shadow:
0 0 40px rgba(139,92,246,.5);

}